@{
    ViewData["Title"] = "404";
    Layout = "_AdminErrorsLayout";
}

<div class="header">
    <div class="logo-container">
        <img src="assets/images/logo.svg" alt="">
    </div>
    <h5>خطا </h5>
    <span>صفحه پیدا نشد  </span>
</div>