   <!-- header -->
<header class="position-relative mt-5 mt-lg-0">
    <div class="header__cont d-flex align-items-center justify-content-between position-relative"
         style="margin-top: 7px">
        <div class="header__title">
            <span>داشبورد</span>
        </div>

        <div class="d-lg-flex d-none align-items-center">
            <div class="header__icons d-flex align-items-center">
                <div class="ml-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.5" height="14.5" viewBox="0 0 14.5 14.5">
                        <defs>
                            <style></style>
                        </defs>
                        <g id="Group_64" fill="#F58341">
                            <g id="Group_63">
                                <path id="Path_65"
                                      d="M5.528 1.382V0H.691A.691.691 0 0 0 0 .691v4.837h1.382V2.356L7.8 8.776l.976-.976-6.42-6.42z"
                                      class="cls-1" />
                                <path id="Path_66"
                                      d="M316.885 0h-4.837v1.382h3.172L308.8 7.8l.974.974 6.42-6.42v3.174h1.382V.691a.691.691 0 0 0-.691-.691z"
                                      class="cls-1" transform="translate(-303.076)" />
                                <path id="Path_67"
                                      d="M316.194 315.22l-6.42-6.42-.974.974 6.42 6.42h-3.172v1.382h4.837a.691.691 0 0 0 .691-.691v-4.837h-1.382z"
                                      class="cls-1" transform="translate(-303.076 -303.076)" />
                                <path id="Path_68"
                                      d="M7.8 308.64l-6.42 6.426v-3.172H0v4.837a.691.691 0 0 0 .691.691h4.837v-1.382H2.356l6.42-6.42z"
                                      class="cls-1" transform="translate(0 -302.923)" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.941" height="17" viewBox="0 0 14.941 17">
                        <defs>
                            <style></style>
                        </defs>
                        <g id="notification" fill="#F58341" transform="translate(-30.999)">
                            <path id="Path_82"
                                  d="M43.616 8.728V7.139a5.156 5.156 0 0 0-3.652-4.925v-.72a1.494 1.494 0 1 0-2.988 0v.72a5.155 5.155 0 0 0-3.652 4.925v1.589a7.82 7.82 0 0 1-2.186 5.437.5.5 0 0 0 .359.843h4.533a2.49 2.49 0 0 0 4.88 0h4.533a.5.5 0 0 0 .359-.843 7.82 7.82 0 0 1-2.186-5.437zm-5.644-7.234a.5.5 0 1 1 1 0v.522c-.164-.016-.33-.024-.5-.024s-.334.008-.5.024zM38.47 16a1.5 1.5 0 0 1-1.408-1h2.817a1.5 1.5 0 0 1-1.409 1zm-5.9-1.992a8.806 8.806 0 0 0 1.749-5.284V7.139a4.15 4.15 0 0 1 8.3 0v1.589a8.806 8.806 0 0 0 1.749 5.284z"
                                  class="cls-1" />
                            <path id="Path_83"
                                  d="M391.535 56.935a.5.5 0 0 0 1 0 7.422 7.422 0 0 0-2.188-5.283.5.5 0 1 0-.7.7 6.432 6.432 0 0 1 1.888 4.583z"
                                  class="cls-1" transform="translate(-346.591 -49.797)" />
                            <path id="Path_84"
                                  d="M31.5 57.434a.5.5 0 0 0 .5-.5 6.432 6.432 0 0 1 1.9-4.578.5.5 0 1 0-.7-.7 7.422 7.422 0 0 0-2.2 5.28.5.5 0 0 0 .5.498z"
                                  class="cls-1" transform="translate(-.001 -49.797)" />
                        </g>
                    </svg>

                    <div class="notif-badge"></div>
                </div>
            </div>
            <div class="header__profile d-flex align-items-center">
                <div class="header__name">هستی اسدی</div>
                <div class="header__profile-img">
                    <img src="/Images/UserAvatar/default.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</header>