
@using AryanITC.Domain.Entities.Account
@using AryanITC.Domain.ViewModels.Account
@model AryanITC.Domain.ViewModels.Account.EmailActiveAccountViewModel

@{
    ViewData["Title"] = "فعال سازی حساب";

    //EmailActiveAccountViewModel result = ViewData["active"] as EmailActiveAccountViewModel;
}



<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">  آریان ITC</a></li>
        <li class="breadcrumb-item active" aria-current="page"> فعال سازی حساب</li>
    </ul>
</nav>




<p class=" text-center">
    <div class="container">
 
        @*<div class="alert @ViewData["AlertClass"]">
            @Html.ValidationMessage("CustomError")
        </div>*@

        @if (ViewData["Active"] != null)


                {
                    <div class="alert alert-success">
                        <div class="alert @ViewData["AlertClass"]">
                            @Html.ValidationMessage("CustomError")
                        </div>
                       
                       <br />

                       <p>
                           از  <a asp-controller="Account" asp-action="Login">  اینجا</a> می توانید وارد پنل کاربری خود شود.
                        </p>
                    </div>
                }

     

        else
        {
        <div class="alert alert-danger"> کاربری با مشخصات ارسال شده یافت نشد.</div>
        }



    </div>
</p>

