 
@using AryanITC.Domain.Entities.Account
@using AryanITC.Domain.ViewModels.Account
@model AryanITC.Domain.ViewModels.Account.EmailActiveAccountViewModel
@{
    ViewData["Title"] = "فعال سازی حساب";

    //EmailActiveAccountViewModel result = (TempData["Active"]) as EmailActiveAccountViewModel;

}



<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">  آریان ITC</a></li>
        <li class="breadcrumb-item active" aria-current="page"> فعال سازی حساب</li>
    </ul>
</nav>

 


<p class=" text-center">
    <div class="container">


        @if (ViewData["Active"] != null)


        {
            <div class="alert alert-success"> @ViewData.ModelState["CustomError"].Errors[0].ErrorMessage </div>
           

            <p>
                <a href="/login"></a>
            </p>
        }

        else
        {
            <div class="alert alert-success"> کاربری با مشخصات ارسال شده یافت نشد.</div>
        }



    </div>
</p>
 
 