@model AryanITC.Domain.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">  آریان ITC</a></li>
        <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور </li>
    </ul>
</nav>



<section class="">
    <div class="main sign-custom">

        @if (ViewBag.IsSuccess != null)

        {
            <div class="alert alert-success">
                <p> بازیابی کلمه عبور با موفقیت انجام شد</p>

            </div>
        }

        <div class="sign text-center margin-p ">
            <a class="active Bold">بازیابی کلمه عبور </a>
        </div>
        <form class="form1" asp-action="ForgotPassword" method="post">


            <input type="hidden" name=" " value="" />
            <span class="field-validation-valid login-error" data-valmsg-for="Error" data-valmsg-replace="true"></span>

            <p class="p1 margin-p ">ایمیل</p>
            <input asp-for="Email" class="un text-box single-line   text-center"></><span class="field-validation-valid col-md-12 text-danger"></span>
            <span asp-validation-for="Email" class="field-validation-valid col-md-12 text-danger"></span>

            <button class="submit-resetPass  text-center"> بازیابی کلمه عبور</button>
            <br />
            <br />
        </form>
    </div>
</section>

