@using AryanITC.Domain.ViewModels.Account
@using Microsoft.AspNetCore.Mvc.Localization
@model AryanITC.Domain.ViewModels.Account.ResetPasswordViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}



<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">  آریان ITC</a></li>

        <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
    </ul>
</nav>
<section>
    <div class="main-register">
        <div class="sign text-center margin-p ">
            <a class="active Bold"> بازیابی کلمه عبور </a>
        </div>
        <form asp-controller="Account" asp-action="ResetPassword"    method="post" class="form1">
            <input type="hidden" asp-for="EmailActiveCode" />
  
            <input asp-for="Password" type="password" class="un   form-control pass text-center" placeholder="رمز عبور">
            <span asp-validation-for="Password" class="field-validation-valid col-md-12 text-danger"></span>

            <input asp-for="ConfirmPassword" type="password" class="pass   form-control " placeholder="تکرار رمز عبور">
            <span asp-validation-for="ConfirmPassword" class="field-validation-valid col-md-12 text-danger"></span>

            <button type="submit" class="submit text-center"  > ثبت تغییرات </button>
           
        </form>
    </div>
</section>

