@using Microsoft.AspNetCore.Mvc.Localization
@model AryanITC.Domain.ViewModels.Account.SuccessRegisterViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "فعال سازی حساب کاربری";
}



<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">  آریان ITC</a></li>
        <li class="breadcrumb-item active" aria-current="page"> فعال سازی حساب کاربری </li>
    </ul>
</nav>
 
<div class="alert alert-success">
    <h3> @Model.LastName عزیز !</h3>
    <p>ثبت نام شما با موفقیت انجام شد ، ایمیلی حاوی لینک فعالسازی به ایمیل "@Model.Email" ارسال شد .</p>
    <p>جهت ادامه ثبت نام وارد ایمیل خود شوید و روی لینک فعالسازی کلیک کنید .</p>
</div>
 