
@{
    ViewData["Title"] = "MainSlider";
}

<!--Main Slider-->
<main dir="ltr">
    <section id="top_content" class="top_cont_outer">
        <div class="top_cont_inner">
            <div class="container">
                <div class="top_content">
                    <div class="row">
                        <div class=" ">
                            <div class="top_left_cont flipInY wow animated">
                                <h3>Colourful &amp; sexy!</h3>
                                <h2>
                                    درباره آریان؟?/

                                </h2>
                                <p class="text-right">
                                    Accusantium آریان,
                                    <br />
                                    aliquam eget آریان آریانآریان .
                                    <br />
                                    درباره درباره درباره درباره درباره
                                </p>
                                <a href="#service" class="learn_more2">Learn more</a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-5"> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--TMain Slider-->
