
@{
    ViewData["Title"] = "Index";
}


@section AdminBreadCrumb
{
    <ul class="breadcrumb float-md-left">
        <li class="breadcrumb-item float-right"><a asp-action="Index" asp-controller="Home"><i class="zmdi zmdi-home"></i> آریان ITC </a></li>
        <li class="breadcrumb-item float-right"><a asp-action="Index"> لیست دسته بندی نمونه کار </a></li>
    </ul>

}
<div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorText))
    {
        <div class="alert alert-danger">
            <p>@ViewBag.ErrorText</p>
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.SuccessText))
    {
        <div class="alert alert-success">
            <p>@ViewBag.SuccessText</p>
        </div>
    }
</div>

 
 
    <h2> Successfull </h2>
   
 
