@using System.Collections.Specialized

@{
    ViewData["Title"] = "خانه";
}


 

<!--Top_content-->
<main dir="ltr">
    <section id="top_content" class="top_cont_outer">
        <div class="top_cont_inner">
            <div class="container">
                <div class="top_content">
                    <div class="row">
                        <div class="col-lg-12  col-md-6 col-sm-7">
                            <div class="top_left_cont flipInY wow animated">
                                <h3>Colourful &amp; sexy!</h3>
                                <h2>
                                    درباره آریان؟?/

                                </h2>
                                <p class="text-right">
                                    Accusantium آریان,
                                    <br />
                                    aliquam eget آریان آریانآریان .
                                    <br />
                                    درباره درباره درباره درباره درباره
                                </p>
                                <a href="#service" class="learn_more2">Learn more</a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-5"> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--Top_content-->
<!--Service-->
<section id="service">
    <div class="container">

            <div class="section-title">
            <h2>سرویس</h2>
        </div>
        <div class="service_area">
            <div class="row">
                <div class="col-lg-4">
                    <div class="service_block">
                        <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa-flash"></i></span> </div>
                        <h3 class="animated fadeInUp wow">سرویس</h3>
                        <p class="animated fadeInDown wow"> سرویس سرویس سرویسtincidunt.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_block">
                        <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa-comments"></i></span> </div>
                        <h3 class="animated fadeInUp wow">Friendly Support</h3>
                        <p class="animated fadeInDown wow">Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_block">
                        <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa-shield"></i></span> </div>
                        <h3 class="animated fadeInUp wow">top Security</h3>
                        <p class="animated fadeInDown wow">Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Service-->
<!--main-section-end-->
<!--new_portfolio-->
<!-- Portfolio -->
<section id="Portfolio" class="content">

    <!-- Container -->
    <div class="container portfolio-title">

        <!-- Section Title -->
        <div class="section-title">
            <h2>نمونه کار</h2>
        </div>
        <!--/Section Title -->

    </div>
    <!-- Container -->

    <div class="portfolio-top"></div>

    <!-- Portfolio Plus Filters -->
    <div class="portfolio">

        <!-- Portfolio Filters -->
        <div id="filters" class="    ">
            <ul class="clearfix">
                <li>
                    <a id="all" href="#" data-filter="*" class="active">
                        <h5>همه</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".branding">
                        <h5>لوگو</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".design">
                        <h5>کاتالوگ و بروشور</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".photography">
                        <h5>طراحی جلد کتاب</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".videography">
                        <h5>پوستر</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".web">
                        <h5>طراحی سایت</h5>
                    </a>
                </li>
            </ul>
        </div>
        <!--/Portfolio Filters -->
        <!-- Portfolio Wrap -->
        <div class="isotope" style="position: relative; overflow: hidden; height: 480px;" id="portfolio-wrap">

            <!-- Portfolio Item With PrettyPhoto  -->
            <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   videography isotope-item">
                <div class="portfolio-image"> <img src="img/portfolio_pic1.jpg" alt="Portfolio 1"> </div>
                <a title="Starbucks Coffee" rel="prettyPhoto[galname]" href="http://clapat.ro/themes/newave/images/portfolio/portfolio2.jpg">
                    <div class="project-overlay">
                        <div class="project-info">
                            <div class="zoom-icon"></div>
                            <h4 class="project-name">Leica Camera</h4>
                            <p class="project-categories">Videography</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--/Portfolio Item With PrettyPhoto  -->
            <!-- Portfolio Item Video Expander  -->
            <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design isotope-item">
                <div class="portfolio-image"> <img src="img/portfolio_pic2.jpg" alt="Portfolio 1"> </div>
                <div class="project-overlay">
                    <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-video-expander.html" title="Open Project"></a> </div>
                    <div class="project-info">
                        <div class="zoom-icon"></div>
                        <h4 class="project-name">Foto Template</h4>
                        <p class="project-categories">Design</p>
                    </div>
                </div>
            </div>
            <!--/Portfolio Item Video Expander  -->
            <!-- Portfolio Item Normal Expander -->
            <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design  isotope-item">
                <div class="portfolio-image"> <img src="img/portfolio_pic3.jpg" alt="Portfolio 1"> </div>
                <div class="project-overlay">
                    <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-normal-expander-1.html" title="Open Project"></a> </div>
                    <div class="project-info">
                        <div class="zoom-icon"></div>
                        <h4 class="project-name">Sony Phone</h4>
                        <p class="project-categories">Design</p>
                    </div>
                </div>
            </div>
            <!--/Portfolio Item Normal Expander -->
            <!-- Portfolio Item FullScreen Expander -->
            <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  photography  branding web isotope-item">
                <div class="portfolio-image"> <img src="img/portfolio_pic4.jpg" alt="Portfolio 1"> </div>
                <div class="project-overlay">
                    <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-fullscreen-expander-1.html" title="Open Project"></a> </div>
                    <div class="project-info">
                        <div class="zoom-icon"></div>
                        <h4 class="project-name">Nike Shoes</h4>
                        <p class="project-categories">Photography, Web, Branding</p>
                    </div>
                </div>
            </div>
            <!-- Portfolio Item FullScreen Expander -->
            <!-- Portfolio Item FullScreen Expander -->
            <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design isotope-item">
                <div class="portfolio-image"> <img src="img/portfolio_pic5.jpg" alt="Portfolio 1"> </div>
                <div class="project-overlay">
                    <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-fullscreen-expander-2.html" title="Open Project"></a> </div>
                    <div class="project-info">
                        <div class="zoom-icon"></div>
                        <h4 class="project-name">Vinyl Record</h4>
                        <p class="project-categories">Design</p>
                    </div>
                </div>
            </div>
            <!--/Portfolio Item FullScreen Expander -->
            <!-- Portfolio Item Normal Expander -->
            <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  web isotope-item">
                <div class="portfolio-image"> <img src="img/portfolio_pic6.jpg" alt="Portfolio 1"> </div>
                <div class="project-overlay">
                    <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-normal-expander-2.html" title="Open Project"></a> </div>
                    <div class="project-info">
                        <div class="zoom-icon"></div>
                        <h4 class="project-name">iPhone</h4>
                        <p class="project-categories">Web</p>
                    </div>
                </div>
            </div>
            <!--/Portfolio Item Normal Expander -->
            <!-- Portfolio Item External Project  -->
            <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design web isotope-item">
                <div class="portfolio-image"> <img src="img/portfolio_pic7.jpg" alt="Portfolio 1"> </div>
                <a href="http://clapat.ro/themes/newave/project-external-1.html" class="external">
                    <div class="project-overlay">
                        <div class="project-info">
                            <div class="zoom-icon"></div>
                            <h4 class="project-name">Nexus Phone</h4>
                            <p class="project-categories">Design, Web</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--/Portfolio Item External Project  -->
            <!-- Portfolio Item With PrettyPhoto  -->
            <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   photography isotope-item">
                <div class="portfolio-image"> <img src="img/portfolio_pic8.jpg" alt="Portfolio 1"> </div>
                <a title="Stereo Headphones" rel="prettyPhoto[galname]" href="http://clapat.ro/themes/newave/images/portfolio/portfolio8.jpg">
                    <div class="project-overlay">
                        <div class="project-info">
                            <div class="zoom-icon"></div>
                            <h4 class="project-name">Art Frame</h4>
                            <p class="project-categories">Photography</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--/Portfolio Item With PrettyPhoto  -->

        </div>
        <!--/Portfolio Wrap -->

    </div>
    <!--/Portfolio Plus Filters -->

    <div class="portfolio-bottom"></div>

    <!-- Project Page Holder-->
    <div id="project-page-holder">
        <div class="clear"></div>
        <div id="project-page-data"></div>
    </div>
    <!--/Project Page Holder-->

</section>
<!--/Portfolio -->
<!--new_portfolio-->
<!--
<section class="main-section paddind" id="Portfolio">
    <div class="container">
        <h2>Portfolio</h2>
        <h6>Fresh portfolio of designs that will keep you wanting more.</h6>
    </div>


</section>

-->
<!--Pricing-->
<section id="pricing" class="padd-section text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

    <div class="container">
        <div class="section-title text-center">

            <h2>  تعرفه هاست  </h2>
            <p class="separator">تعرفه هاست  تعرفه هاست  تعرفه هاست </p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-3">
                <div class="block-pricing">
                    <div class="table">
                        <h4>basic</h4>
                        <h2>$29</h2>
                        <ul class="list-unstyled">
                            <li><b>4 GB</b> فضا</li>
                            <li><b>7/24</b>   پشتیبانی</li>
                            <li><b>40 GB</b>     زیر دامنه</li>
                            <li>Monthly Backups</li>
                            <li>Palo Protection</li>
                        </ul>
                        <div class="table_btn">
                            <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="block-pricing">
                    <div class="table">
                        <h4>PERSONAL</h4>
                        <h2>$29</h2>
                        <ul class="list-unstyled">
                            <li><b>4 GB</b> Ram</li>
                            <li><b>7/24</b> Tech Support</li>
                            <li><b>40 GB</b> SSD Cloud Storage</li>
                            <li>Monthly Backups</li>
                            <li>Palo Protection</li>
                        </ul>
                        <div class="table_btn">
                            <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="block-pricing">
                    <div class="table">
                        <h4>BUSINESS</h4>
                        <h2>$29</h2>
                        <ul class="list-unstyled">
                            <li><b>4 GB</b> Ram</li>
                            <li><b>7/24</b> Tech Support</li>
                            <li><b>40 GB</b> SSD Cloud Storage</li>
                            <li>Monthly Backups</li>
                            <li>Palo Protection</li>
                        </ul>
                        <div class="table_btn">
                            <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="block-pricing">
                    <div class="table">
                        <h4>profeesional</h4>
                        <h2>$29</h2>
                        <ul class="list-unstyled">
                            <li><b>4 GB</b> Ram</li>
                            <li><b>7/24</b> Tech Support</li>
                            <li><b>40 GB</b> SSD Cloud Storage</li>
                            <li>Monthly Backups</li>
                            <li>Palo Protection</li>
                        </ul>
                        <div class="table_btn">
                            <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Pricing-end-->
<!--Domain-->
<section class="main-section" id="client_outer">
    <!--main-section client-part-start-->

</section>


<!--main-section client-part-end-->

<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <div class="  ">
                  <h3>تعرفه دامنه های پر طرفدار</h3>
            </div>
          
            <p>تعرفه دامنه های پر طرفدار تعرفه دامنه های پر طرفدار تعرفه دامنه های پر طرفدار </p>
        </header>

        <div class="row">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">دامته  </a></h4>
                    <p class="description"> دامته</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
                    <h4 class="title"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-delay: 0.1s; animation-name: bounceInUp;">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-delay: 0.1s; animation-name: bounceInUp;">
                <div class="box">
                    <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-delay: 0.2s; animation-name: bounceInUp;">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-delay: 0.2s; animation-name: bounceInUp;">
                <div class="box">
                    <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
                    <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
            </div>

        </div>

    </div>
</section>

<!--Domain--end-->
<!--Cloud-->
<section id="features" class="features">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>ابر هاست</h2>
            <p>ابر هاستابر هاستابر هاست ابر هاست ابر هاست ابر هاست</p>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <i class="ri-store-line" style="color: #ffbb2c;"></i>
                    <h3><a href="">ابر هاست  </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                    <h3><a href="">Dolor Sitema</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                    <h3><a href="">Sed perspiciatis</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                    <h3><a href="">Magni Dolores</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-database-2-line" style="color: #47aeff;"></i>
                    <h3><a href="">Nemo Enim</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                    <h3><a href="">Eiusmod Tempor</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3><a href="">Midela Teren</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                    <h3><a href="">Pira Neve</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-anchor-line" style="color: #b2904f;"></i>
                    <h3><a href="">Dirada Pack</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-disc-line" style="color: #b20969;"></i>
                    <h3><a href="">Moton Ideal</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-base-station-line" style="color: #ff5828;"></i>
                    <h3><a href="">Verdo Park</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
                    <h3><a href="">Flavor Nivelanda</a></h3>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Cloud-end-->
<!--NewsLetter-->

<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row ">

                <div class="col-lg-6">
                    <h4>عضویت در خبرنامه  </h4>
                    <h5  >  دریافت جدیدترین تخفیف‌ها و پیشنهادات  </h5>
                </div>


                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>


</footer>

<!--NewsLetter-end-->