@using System.Collections.Specialized

@{
    ViewData["Title"] = "خانه";
}

<main>
    <!--Top_Slider-->
    @await Component.InvokeAsync("MainSlider")

    <!--Services-->
    @await Component.InvokeAsync("Services")

    <!--new_portfolio-->
    @await Component.InvokeAsync("Portfolio")

    <!--Pricing-->
    @await Component.InvokeAsync("Pricing")

    <!--Domain-->
    @await Component.InvokeAsync("Domain")

    <!--Cloud-->
    @await Component.InvokeAsync("CloudHosting")

    <!--NewsLetter-->
    @await Component.InvokeAsync("NewsLetter")
    
    <!--ContactUS--> 
    @await Component.InvokeAsync("ContactUs")

</main>
