    <!-- Chat-launcher -->
<div class="chat-launcher"></div>
<div class="chat-wrapper">
    <div class="card">
        <div class="header">
            <ul class="list-unstyled team-info margin-0">
                <li class="m-l-15"><h2>تیم طراحی </h2></li>
                <li>
                    <img src="/Admin/assets/images/xs/avatar2.jpg" alt="آواتار">
                </li>
                <li>
                    <img src="/Admin/assets/images/xs/avatar3.jpg" alt="آواتار">
                </li>
                <li>
                    <img src="/Admin/assets/images/xs/avatar4.jpg" alt="آواتار">
                </li>
                <li>
                    <img src="/Admin/assets/images/xs/avatar6.jpg" alt="آواتار">
                </li>
                <li>
                    <a href="javascript:void(0);" title="اضافه کردن عضو"><i class="zmdi zmdi-plus-circle"></i></a>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="chat-widget">
                <ul class="chat-scroll-list clearfix">
                    <li class="left float-left">
                        <img src="/Admin/assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                        <div class="chat-info">
                            <a class="name" href="#">سروش پویانفر</a>
                            <span class="datetime">6:12</span>
                            <span class="message">سلام عباس جان </span>
                        </div>
                    </li>
                    <li class="right">
                        <div class="chat-info"><span class="datetime">6:15</span> <span class="message">سلام سروش جان <br>چطوری ؟</span> </div>
                    </li>
                    <li class="right">
                        <div class="chat-info"><span class="datetime">6:16</span> <span class="message">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</span> </div>
                    </li>
                    <li class="left float-left">
                        <img src="/Admin/assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                        <div class="chat-info"> <a class="name" href="#">سارا رفیعی</a> <span class="datetime">6:25</span> <span class="message">سروش جان <br>  عباس جان سلام <br> امروز چه کاری را باید انجام بدهیم ؟</span> </div>
                    </li>
                    <li class="left float-left">
                        <img src="/Admin/assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                        <div class="chat-info"> <a class="name" href="#">وحید محمدی</a> <span class="datetime">6:28</span> <span class="message">من دوست دارم به تیم بپیوندم. </span> </div>
                    </li>
                    <li class="right">
                        <div class="chat-info"><span class="datetime">7:02</span> <span class="message">سلام  <br>وحید جان</span> </div>
                    </li>
                </ul>
            </div>
            <div class="input-group p-t-15">
                <input type="text" class="form-control" placeholder="متن را اینجا وارد کنید ...">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-mail-send"></i>
                </span>
            </div>
        </div>
    </div>
</div>