@model AryanITC.Domain.ViewModels.Account.ResetPasswordViewModel
<div style="direction: rtl; padding: 20px">

    <h2> کاربر عزیز !</h2>
    <p>جهت بازیابی مجدد حساب کاربری خود بر روی لینک زیر کلیک کنید</p>
    <p>
        <a href="https://localhost:44385/resetpassword?EmailActiveCode=@Model.EmailActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>