<!doctype html>
<html>

<head>
    <title>آریان ITC | @ViewData["Title"]</title>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

    @*Partials are Razor Views*@
    <partial name="_MetaTags" />
    <partial name="_Styles" />

    @RenderSection("Styles", false)
 



</head>
<body>


    <!--Header_section--MainMenu-->

    <partial name="_MainMenu" />

    <!--Header_section-->

    @RenderBody()

    <partial name="_Footer" />

    <partial name="_FooterRefrence" />
    <partial name="Scripts" />


    @RenderSection("Scripts", false)


    @*@RenderSection("SearchBox", false)*@

    <partial name="_Notification" />
    <partial name="_ValidationScriptsPartial" />



</body>
</html>
