<header id="header_outer">
    <div class="container">
        <div class="header_section">
            <div class="logo"><a href="javascript:void(0)"><img src="~/img/logob.png" alt=""></a></div>
            <nav class="nav" id="nav">
                <a class="res-nav_click animated wobble wow animated" href="javascript:void(0)" style="visibility: visible; animation-name: wobble;"><i class="fa-bars"></i></a>


                <ul class="toggle">
                    <li><a href="#top_content">خانه</a></li>
                    <li><a href="#service">خدمات ما</a></li>
                    <li><a href="#Portfolio">مشتریان ما</a></li>
                    <li><a href="#pricing">تعرفه هاست</a></li>
                    <li><a href="#client_outer">دامنه ها</a></li>
                    <li><a href="#team">ابر هاست</a></li>
                    <li><a href="#contact">تماس با ما</a></li>
                    <li><a href="#contact">حساب کاربری</a></li>


                </ul>
                <ul class="costum-menu-header">


                    <li><a href="#top_content">خانه</a></li>
                    <li><a href="#service">خدمات </a></li>
                    <li><a href="#Portfolio">مشتریان ما</a></li>
                    <li><a href="#pricing">تعرفه هاست</a></li>
                    <li><a href="#client_outer">دامنه </a></li>
                    <li><a href="#team">ابر هاست</a></li>
                    <li><a href="#contact">تماس با ما</a></li>
                    <li class="dropdown menu-behavior--hover d-none d-lg-block">


                    @*<div class="header__profile d-flex  align-items-center">*@


                        @if (User.Identity.IsAuthenticated)
                        {

                            <div class="  btn btn-login btn-block btn-register">@User.Identity.Name خوش آمدید!</div>

                            <li >
                                <a asp-controller="Account" asp-action="Login" class="btn btn-login btn-block btn-register "> خروج </a>
                            </li>
                        }

                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Login" id="dropdownSignIn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline btn-outline-primary btn-register ">
                                    <span> حساب کاربری</span>
                                </a>
                            </li>
                            <li>

                                <a asp-controller="Account" asp-action="Register" class="btn btn-outline btn-outline-primary btn-register   direct-register-link" rel="nofollow noopener">ثبت نام</a>
                            </li>

                        }
               

                    @*</div>*@
                    </ul>


            </nav>
   
                <a class="res-nav_click animated wobble wow" href="javascript:void(0)"><i class="fa-bars"></i></a>
            </div></div>

</header>