 

<div style="direction: rtl; padding: 20px">
    <h2>  کاربر عزیز !</h2>
    <p>با تشکر از ثبت نام شما در آریان ITC ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44385/active?EmailActiveCode=@Model.EmailActiveCode">فعالسازی حساب کاربری</a>     </p>
</div>
