 
@{
    ViewData["Title"] = "Index";
}




 


    <main class="  col-lg-10 pr-lg-0 py-lg-2 px-0 pl-lg-2 position-relative">
        <div class=" get-program__main bg-white ml-lg-4 d-flex flex-column">
            <!-- mobile header -->
            <div class="mobile-header d-flex d-lg-none align-items-center">
                <div id="mobile-menu_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </div>
                <div style="width: 120px">
                    <img src="./img/Logo@3x.png" width="100%" alt="" />
                </div>
                <div>
                    <div class="header__profile-img">
                        <img src="./img/637267069243341188@2x.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- main conten -->
            <div class="container mt-5">
                <div>
                    <h2 style="font-weight: bold; font-size: 1.1em">وضعیت سرویس</h2>
                    <div class="px-lg-5 py-lg-3 mt-4 box--dark-blue" style="height: 105px">
                        <div class="position-relative h-75">
                            <div class="d-flex align-items-center h-100" style="padding-right: 8.8%; padding-left: 8.8%">
                                <div class="progress progress--custom progress--custom-dash">
                                    <div class="progress-bar progress-bar--orange--finished" style="width: 100%"></div>
                                </div>
                                <div class="progress progress--custom progress--custom-dash">
                                    <div class="progress-bar progress-bar--orange--2" style="width: 100%"></div>
                                </div>
                                <div class="progress progress--custom progress--custom-dash">
                                    <div class="progress-bar progress-bar--orange--light" style="width: 100%"></div>
                                </div>
                                <div class="progress progress--custom progress--custom-dash">
                                    <div class="progress-bar bg-white" style="width: 100%"></div>
                                </div>
                                <div class="progress progress--custom progress--custom-dash">
                                    <div class="progress-bar bg-white" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="dashboard-head_section h-100">
                                <div class="position-relative">
                                    <div class="dashboard-head_section_item dashboard-head_section_item--checked">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18.219 16.638">
                                            <g>
                                                <g>
                                                    <path fill="#fff" stroke="#fff"
                                                          d="M16.861 63.677a.592.592 0 0 0-.94.124L7.028 77.254a.62.62 0 0 1-.461.256.6.6 0 0 1-.485-.221l-4.951-5.767a.569.569 0 0 0-.925 0 .976.976 0 0 0 0 1.173l4.953 5.769a1.818 1.818 0 0 0 1.379.671h.083a1.871 1.871 0 0 0 1.413-.809l.023-.033 8.907-13.473a.936.936 0 0 0-.103-1.143z"
                                                          transform="translate(.562 .501) translate(-.01 -63.498)" />
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="dashboard-head_section_item_caption">
                                        اطلاعات پایه
                                    </div>
                                </div>
                                <div class="position-relative">
                                    <div class="dashboard-head_section_item dashboard-head_section_item--checked">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18.219 16.638">
                                            <g>
                                                <g>
                                                    <path fill="#fff" stroke="#fff"
                                                          d="M16.861 63.677a.592.592 0 0 0-.94.124L7.028 77.254a.62.62 0 0 1-.461.256.6.6 0 0 1-.485-.221l-4.951-5.767a.569.569 0 0 0-.925 0 .976.976 0 0 0 0 1.173l4.953 5.769a1.818 1.818 0 0 0 1.379.671h.083a1.871 1.871 0 0 0 1.413-.809l.023-.033 8.907-13.473a.936.936 0 0 0-.103-1.143z"
                                                          transform="translate(.562 .501) translate(-.01 -63.498)" />
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="dashboard-head_section_item_caption">
                                        انتخاب سرویس
                                    </div>
                                </div>
                                <div class="position-relative">
                                    <div class="dashboard-head_section_item dashboard-head_section_item--current">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18.219" height="16.638" viewBox="0 0 18.219 16.638">
                                            <g>
                                                <g>
                                                    <path fill="#fff" stroke="#fff"
                                                          d="M16.861 63.677a.592.592 0 0 0-.94.124L7.028 77.254a.62.62 0 0 1-.461.256.6.6 0 0 1-.485-.221l-4.951-5.767a.569.569 0 0 0-.925 0 .976.976 0 0 0 0 1.173l4.953 5.769a1.818 1.818 0 0 0 1.379.671h.083a1.871 1.871 0 0 0 1.413-.809l.023-.033 8.907-13.473a.936.936 0 0 0-.103-1.143z"
                                                          transform="translate(.562 .501) translate(-.01 -63.498)" />
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="dashboard-head_section_item_caption">خرید</div>
                                </div>

                                <div class="position-relative">
                                    <div class="dashboard-head_section_item">۴</div>
                                    <div class="dashboard-head_section_item_caption">
                                        شروع دوره
                                    </div>
                                </div>

                                

                                <div class="position-relative">
                                    <div class="dashboard-head_section_item">۶</div>
                                    <div class="dashboard-head_section_item_caption">
                                        پایان دوره
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>نمودارها</h2>
                    <div class="box--dark-blue mt-3">
                        <div class="d-flex align-items-center justify-content-around flex-column flex-lg-row">
                            <div class="chart--custom">
                                <canvas id="myChart" width=""></canvas>
                            </div>
                            <div class="chart--custom mt-5 mt-lg-0">
                                <canvas id="myChart2" width=""></canvas>
                            </div>
                            <!-- <div class="chart--custom">
                              <canvas id="myChart2" ></canvas>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

 



